<div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
               
                <span class="username"><a href="#"><%= @domainName %></a></span>
                
              </div>
              <!-- /.user-block -->
             
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <pre>
             <%= @scrapedDomain %>
             </pre>
            </div>
            <!-- /.box-body -->
            <div class="box-footer box-comments">
              
            <!-- /.box-footer -->
          </div>