<div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Expiring Domains</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="dataTables_wrapper dt-bootstrap" id="example_wrapper"></div>
      <table class="table table-bordered" id="domains" data-source="<%= domain_domain_index_path(format: "json") %>">
      <thead>
      <tr>
        <th>ID</th>
        <th>Domain Name</th>
        <th>Domain Price</th>
        <th>Number Of Bids</th>
        <th>Domain Valuation</th>
        
        <th>Traffic</th>
        <th>is Adult</th>
        <th>Auction End Time</th>
        <th>Has Website</th>
        <th>Source</th>
        
      </tr>
      </thead>
      <tbody>

    </tbody>
      </table>
      
      <div class="box-footer clearfix">
        Filter Has Websites :
            <select id="haswebsite">
              <option value=''>Has Websites</option>
              <option value="1">True</option>
              <option value="0">False</option>
            </select>
            
            Filter Feed Source :
            <select id="source">
              <option value=''>Feed Source</option>
              <option value="GoDaddy Auctions">Go Daddy Auctions</option>
              <option value="SnapNames">SnapNames</option>
            </select>
            
            Filter Domain Ending :
            <select id="domainend">
              <option value=''>Domain Ending</option>
              <option value=".COM">.com</option>
              <option value=".CO.UK">.co.uk</option>
               <option value=".INFO">.info</option>
              <option value=".UK">.uk</option>
            </select>
            
            
            </div>
            
            <input type="text" name="daterange" value="01/01/2015 - 01/31/2015" />
          </div>
          </div>
<script type="text/javascript">
$(function() {
    $('input[name="daterange"]').daterangepicker();
});
</script>